body{
    margin: 150px;
    background-color: black;
}
button{
    font-size: 20px;
    width: 320px;
    border: transparent;
    background-color: rgb(95, 140, 255);
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}
h3{
    text-align: center;
}
#converter{
    font-size: 25px;
    border-top-color: blue;
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: grid;
    justify-content: center;
}
input{
   font-size: 20px;
   border-top:none;
    border-left:none ;
    border-right:none ;
   border-bottom-color:black ; 
}
select{
    border-top:none;
    border-left:none ;
    border-right:none ;
    font-size: 20px;
}
#inputArea{
    margin-bottom: 10px;
}
#To{
    margin-bottom: 30px;
}
#result{
    margin-bottom: 10px;
}